@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 5%;
  --foreground: 210 40% 98%;
  --brand: 222 84% 56%;
  --muted: 222 47% 11%;
  --muted-foreground: 215 20% 65%;
  --accent: 222 47% 11%;
  --border: 215 25% 23%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-feature-settings: "rlig" 1, "calt" 1;
}

